################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FizzBuzz/.vs/*
/FizzBuzz/bin/*
/FizzBuzz/FizzBuzz/obj
/FizzBuzz/FizzBuzz/bin
it-4320-project3a/flask_wtforms_tutorial/__pycache__/*
it-4320-project3a/__pycache__/*
